<html>
  <head>
    {% if title %}
    <title>{{ title }} - 雪忆</title>
    {% else %}
    <title>雪忆</title>
    {% endif %}
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='welcome.css') }}">
</head>
<body>
<div id="wrapper">
  <div id="info">
    <div id="info-content">
      <a href="/home">
      <h1><strong>Andrew Liu</strong> 雪  忆</h1></a>
      <p>雪忆, 如雪般单纯, 冷静思考.</p>
    </div>
  </div>
</div><!-- #wrapper -->
</body>
</html>